* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 400vh; /* makes page scrollable */
    overflow-x: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.spacer {
    height: 100vh;
}
